################################################################################
# Zephyr OS

source "Kconfig.zephyr"

################################################################################
# Main module

menu "Main module"

########################################
# MAIN Logging

choice MAIN_LOG_LEVEL_CHOICE
    prompt "Log level"
    depends on LOG
    default MAIN_LOG_LEVEL_INF
    help
        Message severity threshold for logging. This option controls which
        severities of messages are displayed and which ones are suppressed.
        Messages can have 4 severity levels - debug, info, warning, and error -
        in that order of increasing severity. Messages below the configured
        severity threshold are suppressed.

config MAIN_LOG_LEVEL_OFF
    bool "Off"
    help
        Do not log messages. No messages are displayed. Messages of all severity
        levels are suppressed.

config MAIN_LOG_LEVEL_ERR
    bool "Error"
    help
        Log up to error messages. Error messages are displayed. Warning, info,
        and debug messages are suppressed.

config MAIN_LOG_LEVEL_WRN
    bool "Warning"
    help
        Log up to warning messages. Error and warning messages are displayed.
        Info and debug messages are suppressed.

config MAIN_LOG_LEVEL_INF
    bool "Info"
    help
        Log up to info messages. Error, warning, and info messages are
        displayed. Debug messages are suppressed.

config MAIN_LOG_LEVEL_DBG
    bool "Debug"
    help
        Log up to debug messages. Messages of all severity levels are displayed.
        No messages are suppressed.

endchoice

config MAIN_LOG_LEVEL
    int
    depends on LOG
    default 0 if MAIN_LOG_LEVEL_OFF
    default 1 if MAIN_LOG_LEVEL_ERR
    default 2 if MAIN_LOG_LEVEL_WRN
    default 3 if MAIN_LOG_LEVEL_INF
    default 4 if MAIN_LOG_LEVEL_DBG

endmenu

################################################################################
# AHT20 module

menu "AHT20 module"

########################################
# AHT20 Logging

choice AHT20_LOG_LEVEL_CHOICE
    prompt "Log level"
    depends on LOG
    default AHT20_LOG_LEVEL_INF
    help
        Message severity threshold for logging. This option controls which
        severities of messages are displayed and which ones are suppressed.
        Messages can have 4 severity levels - debug, info, warning, and error -
        in that order of increasing severity. Messages below the configured
        severity threshold are suppressed.

config AHT20_LOG_LEVEL_OFF
    bool "Off"
    help
        Do not log messages. No messages are displayed. Messages of all severity
        levels are suppressed.

config AHT20_LOG_LEVEL_ERR
    bool "Error"
    help
        Log up to error messages. Error messages are displayed. Warning, info,
        and debug messages are suppressed.

config AHT20_LOG_LEVEL_WRN
    bool "Warning"
    help
        Log up to warning messages. Error and warning messages are displayed.
        Info and debug messages are suppressed.

config AHT20_LOG_LEVEL_INF
    bool "Info"
    help
        Log up to info messages. Error, warning, and info messages are
        displayed. Debug messages are suppressed.

config AHT20_LOG_LEVEL_DBG
    bool "Debug"
    help
        Log up to debug messages. Messages of all severity levels are displayed.
        No messages are suppressed.

endchoice

config AHT20_LOG_LEVEL
    int
    depends on LOG
    default 0 if AHT20_LOG_LEVEL_OFF
    default 1 if AHT20_LOG_LEVEL_ERR
    default 2 if AHT20_LOG_LEVEL_WRN
    default 3 if AHT20_LOG_LEVEL_INF
    default 4 if AHT20_LOG_LEVEL_DBG

endmenu

################################################################################
# PT19 module

menu "PT19 module"

########################################
# PT19 Logging

choice PT19_LOG_LEVEL_CHOICE
    prompt "Log level"
    depends on LOG
    default PT19_LOG_LEVEL_INF
    help
        Message severity threshold for logging. This option controls which
        severities of messages are displayed and which ones are suppressed.
        Messages can have 4 severity levels - debug, info, warning, and error -
        in that order of increasing severity. Messages below the configured
        severity threshold are suppressed.

config PT19_LOG_LEVEL_OFF
    bool "Off"
    help
        Do not log messages. No messages are displayed. Messages of all severity
        levels are suppressed.

config PT19_LOG_LEVEL_ERR
    bool "Error"
    help
        Log up to error messages. Error messages are displayed. Warning, info,
        and debug messages are suppressed.

config PT19_LOG_LEVEL_WRN
    bool "Warning"
    help
        Log up to warning messages. Error and warning messages are displayed.
        Info and debug messages are suppressed.

config PT19_LOG_LEVEL_INF
    bool "Info"
    help
        Log up to info messages. Error, warning, and info messages are
        displayed. Debug messages are suppressed.

config PT19_LOG_LEVEL_DBG
    bool "Debug"
    help
        Log up to debug messages. Messages of all severity levels are displayed.
        No messages are suppressed.

endchoice

config PT19_LOG_LEVEL
    int
    depends on LOG
    default 0 if PT19_LOG_LEVEL_OFF
    default 1 if PT19_LOG_LEVEL_ERR
    default 2 if PT19_LOG_LEVEL_WRN
    default 3 if PT19_LOG_LEVEL_INF
    default 4 if PT19_LOG_LEVEL_DBG

endmenu

################################################################################
# AHT20 module

menu "AHT20 module"

########################################
# AHT20 Logging

choice AHT20_LOG_LEVEL_CHOICE
    prompt "Log level"
    depends on LOG
    default AHT20_LOG_LEVEL_INF
    help
        Message severity threshold for logging. This option controls which
        severities of messages are displayed and which ones are suppressed.
        Messages can have 4 severity levels - debug, info, warning, and error -
        in that order of increasing severity. Messages below the configured
        severity threshold are suppressed.

config AHT20_LOG_LEVEL_OFF
    bool "Off"
    help
        Do not log messages. No messages are displayed. Messages of all severity
        levels are suppressed.

config AHT20_LOG_LEVEL_ERR
    bool "Error"
    help
        Log up to error messages. Error messages are displayed. Warning, info,
        and debug messages are suppressed.

config AHT20_LOG_LEVEL_WRN
    bool "Warning"
    help
        Log up to warning messages. Error and warning messages are displayed.
        Info and debug messages are suppressed.

config AHT20_LOG_LEVEL_INF
    bool "Info"
    help
        Log up to info messages. Error, warning, and info messages are
        displayed. Debug messages are suppressed.

config AHT20_LOG_LEVEL_DBG
    bool "Debug"
    help
        Log up to debug messages. Messages of all severity levels are displayed.
        No messages are suppressed.

endchoice

config AHT20_LOG_LEVEL
    int
    depends on LOG
    default 0 if AHT20_LOG_LEVEL_OFF
    default 1 if AHT20_LOG_LEVEL_ERR
    default 2 if AHT20_LOG_LEVEL_WRN
    default 3 if AHT20_LOG_LEVEL_INF
    default 4 if AHT20_LOG_LEVEL_DBG

endmenu

################################################################################
# NTC module

menu "NTC module"

########################################
# NTC Logging

choice NTC_LOG_LEVEL_CHOICE
    prompt "Log level"
    depends on LOG
    default NTC_LOG_LEVEL_INF
    help
        Message severity threshold for logging. This option controls which
        severities of messages are displayed and which ones are suppressed.
        Messages can have 4 severity levels - debug, info, warning, and error -
        in that order of increasing severity. Messages below the configured
        severity threshold are suppressed.

config NTC_LOG_LEVEL_OFF
    bool "Off"
    help
        Do not log messages. No messages are displayed. Messages of all severity
        levels are suppressed.

config NTC_LOG_LEVEL_ERR
    bool "Error"
    help
        Log up to error messages. Error messages are displayed. Warning, info,
        and debug messages are suppressed.

config NTC_LOG_LEVEL_WRN
    bool "Warning"
    help
        Log up to warning messages. Error and warning messages are displayed.
        Info and debug messages are suppressed.

config NTC_LOG_LEVEL_INF
    bool "Info"
    help
        Log up to info messages. Error, warning, and info messages are
        displayed. Debug messages are suppressed.

config NTC_LOG_LEVEL_DBG
    bool "Debug"
    help
        Log up to debug messages. Messages of all severity levels are displayed.
        No messages are suppressed.

endchoice

config NTC_LOG_LEVEL
    int
    depends on LOG
    default 0 if NTC_LOG_LEVEL_OFF
    default 1 if NTC_LOG_LEVEL_ERR
    default 2 if NTC_LOG_LEVEL_WRN
    default 3 if NTC_LOG_LEVEL_INF
    default 4 if NTC_LOG_LEVEL_DBG

endmenu

################################################################################